extends ../shared/template

block content
  #centerme
    h1 Need to do some things?
    a(href='/tasks') It's task time!
    h4 because I made an app for just such an occastion.
    img.center(src='/img/icon.svg')
